.contactoSection{
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacto{
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 900px;
  align-items: center;
  justify-items: center;
}

.contactoForm{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
  justify-items: center;
  background-color: white;
}

.input-field{
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  background-color: white;
  color: black;
}